// PADDINGS MARGINS
.m-1 {margin: 1rem;}


a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.container{
    height: $container-height;
    width: 90%;
    margin: 1rem auto 1rem auto;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: .6rem auto .6rem auto;
    label{
        font-size: 1.1rem;
        margin-bottom: .4rem;
    }
    width: 16rem;
    .form-control{
        padding: .6rem;
        font-size: 1.1rem;
    }
}