// PADDINGS MARGINS
.m-1 {margin: 1rem;}


a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.container{
    height: $container-height;
    width: 90%;
    margin: 1rem auto 1rem auto;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: .6rem auto .6rem auto;
    label{
        font-size: 1.1rem;
        margin-bottom: .4rem;
    }
    width: 16rem;
    .form-control{
        padding: .6rem;
        font-size: 1.1rem;
    }
}

.tooltip{
    position: relative;
    display: inline-block;
    &-text{
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity .4s, visibility .4s;
        transition: opacity .4s, visibility .4s;
        position: absolute;
        z-index: 999;
        width: 250px;
        bottom: -100px;
        left: 60%;
        background-color: #222;
        box-shadow: 1px 1px 10px #333;
        color: #FFF;
        text-align: justify;
        padding: .7rem .5rem;
        border-radius: 6px;
        margin-left: 20px;
        p{
            text-align: justify;
        }
    }
    &:hover .tooltip-text{
        opacity: 1;
        visibility: visible;
    }
}