$modal-background: rgb(28,28,30);
.fade-enter-from, .fade-leave-to{
    opacity: 0;
}

.fade-enter-active, .fade-leave-active{
    transition: all .6s ease;
}

.fade-enter-to, .fade-leave-from{
    opacity: 1;
}

.modal-enter-from, .modal-leave-to{
    transform: translateY(-100%);
}
.modal-enter-active, .modal-leave-active{
    transition: all .6s ease;
}

.modal-enter-to, .modal-leave-from{
    transform: translateY(0);
}

.close-modal{
    position: absolute;
    color: white;
    i{
        transition: all .4s ease;
        cursor: pointer;
        font-size: 2.6rem;
        margin: 1.3rem;
        &:hover{
            transform: rotate(-180deg);
            color: #B90000;
        }
    }
}

.fade-in{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #333333, $alpha: .4);
}
.modal-background{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;

    .modal{
        background: $modal-background;
        color: white;
        border-radius: 15px;
        box-shadow: 1px 1px 20px black;
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-rows: 12% 58% 30%;

        &-head{
            .vehicle-head{
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                &-image{
                    width: 160px;
                }
                &-name{
                    margin-left: 1rem;
                    font-size: 3rem;
                }
            }
            
        }
        &-body{
            display: grid;
            grid-template-columns: 40% 60%;
            margin: 0rem 1rem;
            max-width: 100%;
            .left{
                justify-content: start;
                margin-right: .5rem;
            }
            .right{
                justify-content: end;
                margin-left: .5rem;
            }
        }
    }
}

.specification{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
        align-content: center;
    &-row{
        width: 100%;
        display: flex;
        align-items: center;
    }
    &-block{
        min-height: 250px;
        min-width: 310px;
        margin: .7rem;
        .specification-title{
            text-transform: uppercase;
            border-bottom: 2px solid rgba($color: #00FF17, $alpha: .4);
            margin-bottom: .4rem;
        }
        .specification-item{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba($color: #00FF17, $alpha: .2);
            margin: .2rem 0rem;
            .specification-description{
                text-transform: uppercase;
            }           
        }
    }
}


.modules-table{
    width: 100%;
    height: 100%;
    &-row{
        height: 100px;
        display: flex;
        align-items: center;
        .modules-item{
            width: 112px;
            min-height: 90px;
            margin-right: .5rem;
            display: inline-block;
            position: relative;
            box-sizing: border-box;
            &:hover{
                background: red;
                cursor: pointer;
            }
            &-image{
                display: block;
                position: relative;
                text-align: center;
                img{
                    height: 75%;
                }
            }
            &-level{
                position: absolute;
                top: 0;
            }
            &-description{
                display: block;
                font-size: 10px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}

.modal-footer{
    h1{
        text-align: center;
    }
    .tech-tree-row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .tech-tree-item{
            margin: auto;
            width: 220px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .4s;
            cursor: pointer;
            &:hover{
                background: gray;
            }
        }
    }
}
