.player{
    height: $container-height;
    display: flex;

    .playerSearch{
        margin: 1rem;
        flex: .6;
    }
    .playerData{
        margin: 1rem;
        flex: 2;
        .statics{
            .personal-info{
                h1{
                    text-align: center;
                    margin-bottom: .5rem;
                    font-size: 2rem;
                }
            }
        }
    }
}