.player{
    display: flex;

    .playerSearch{
        margin: 1rem;
        flex: .6;
    }
    .playerData{
        margin: 1rem;
        flex: 2;
        .statics{
            h1{
                text-align: center;
                margin-bottom: .5rem;
                font-size: 2rem;
            }
            .personal-info{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                margin: 1rem 0;
                h3{
                    font-size: 1.3rem;
                }
            }
            // .battle-statics{
            //     display: grid;
            //     grid-template-columns: repeat(3, 1fr);
            //     margin: 1.1rem 0;
            //     p{
            //         font-size: 1.2rem;
            //     }
            // }
        }
    }
}

.battle_statics{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.1rem 0;
    .stat_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1.6rem;
        margin: 1.2rem 0;
        font-weight: 700;
        font-size: 1.7rem;
        .stat_text{
            font-size: 1.3rem;
            font-weight: 400;
            margin: .5rem 0;
        }
    }
}