@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import 'inc/_variables';
@import 'inc/_utility';
@import 'inc/navbar';
@import 'inc/footer';
@import 'inc/button';
@import 'inc/card';
@import 'inc/playerSearch';
@import 'inc/vehicleSearch';
@import 'inc/table';
@import 'inc/modal';


*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

.container{
    min-height: $container-height;
    width: 90%;
    margin: auto;
}

.main-title{
    text-align: center;
    font-size: 2.6rem;
}
